<div id="parallax-header">
  <ul id="scene" class="scene unselectable" data-friction-x="0.1" data-friction-y="0.1" data-scalar-x="25" data-scalar-y="15">
      <li class="layer" data-depth="0.50"><%= image_tag("layer1.png") %></li>
      <li class="layer" data-depth="0.25"><%= image_tag("layer2.png") %></li>
      <li class="layer" data-depth="0"><p>Secure, share your data is easier than before.</p></li>
  </ul>
</div>

<div class="row">
  <br>
  <h1>Why you'll love cubbyhole</h1>

  <ul class="small-block-grid-3 features">
    <li>
      <%= image_tag("network_64.png", alt: "network") %>
      <h6>Access</h6>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. In hendrerit, nisl vel pulvinar suscipit, ligula sapien fermentum orci, ut luctus erat elit id diam.
      </p>
    </li>
    <li>
      <%= image_tag("padlock_64.png", alt: "padlock") %>
      <h6>Secure</h6>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. In hendrerit, nisl vel pulvinar suscipit, ligula sapien fermentum orci, ut luctus erat elit id diam.
      </p>
    </li>
    <li>
      <%= image_tag("share_64.png", alt: "share") %>
      <h6>Share</h6>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. In hendrerit, nisl vel pulvinar suscipit, ligula sapien fermentum orci, ut luctus erat elit id diam.
      </p>
    </li>
  </ul>
</div>

<div class="devices">
  <div class="row">
    <h1>Everywhere at any moment</h1>
      <div class="button large radius">Cubbyhole for Windows</div>
  </div>
</div>
<!--
<div class="row">
  <div class="large-4 columns">
    <ul class="pricing-table">
      <li class="title">Discover</li>
      <li class="price">Free</li>
      <li class="description">An awesome description</li>
      <li class="bullet-item">1 Database</li>
      <li class="bullet-item">5GB Storage</li>
      <li class="bullet-item">20 Users</li>
      <li class="cta-button"><%= link_to "Buy now", new_user_registration_url, {class: "button"} %></li>
    </ul>
  </div>
  <div class="large-4 columns">
    <ul class="pricing-table">
      <li class="title">Premium</li>
      <li class="price">$9.99</li>
      <li class="description">An awesome description</li>
      <li class="bullet-item">1 Database</li>
      <li class="bullet-item">5GB Storage</li>
      <li class="bullet-item">20 Users</li>
      <li class="cta-button"><%= link_to "Buy now", new_user_registration_url, {class: "button"} %></li>
    </ul>
  </div>
  <div class="large-4 columns">
    <ul class="pricing-table">
      <li class="title">Enterprise</li>
      <li class="price">$19.99</li>
      <li class="description">An awesome description</li>
      <li class="bullet-item">1 Database</li>
      <li class="bullet-item">5GB Storage</li>
      <li class="bullet-item">20 Users</li>
      <li class="cta-button"><%= link_to "Buy now", new_user_registration_url, {class: "button"} %></li>
    </ul>
  </div>
</div>
-->
<%= content_for :js do %>
  <script>$('#scene').parallax();</script>
<% end %>