<div class="world-header">
  <div class="row">
    <p>Secure, share your data is easier than before.</p>
  </div>
</div>

<div class="row">
  <br>
  <h1>Why you'll love cubbyhole</h1>

  <ul class="small-block-grid-3 features">
    <li>
      <%= image_tag("network_64.png", alt: "network") %>
      <h6>Access</h6>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. In hendrerit, nisl vel pulvinar suscipit, ligula sapien fermentum orci, ut luctus erat elit id diam.
      </p>
    </li>
    <li>
      <%= image_tag("padlock_64.png", alt: "padlock") %>
      <h6>Secure</h6>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. In hendrerit, nisl vel pulvinar suscipit, ligula sapien fermentum orci, ut luctus erat elit id diam.
      </p>
    </li>
    <li>
      <%= image_tag("share_64.png", alt: "share") %>
      <h6>Share</h6>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. In hendrerit, nisl vel pulvinar suscipit, ligula sapien fermentum orci, ut luctus erat elit id diam.
      </p>
    </li>
  </ul>

  <div class="large-4 columns">
    <ul class="pricing-table">
      <li class="title">Discover</li>
      <li class="price">Free</li>
      <li class="description">An awesome description</li>
      <li class="bullet-item">1 Database</li>
      <li class="bullet-item">5GB Storage</li>
      <li class="bullet-item">20 Users</li>
      <li class="cta-button"><%= link_to "Buy now", new_user_registration_url, {class: "button"} %></li>
    </ul>
  </div>
  <div class="large-4 columns">
    <ul class="pricing-table">
      <li class="title">Premium</li>
      <li class="price">$9.99</li>
      <li class="description">An awesome description</li>
      <li class="bullet-item">1 Database</li>
      <li class="bullet-item">5GB Storage</li>
      <li class="bullet-item">20 Users</li>
      <li class="cta-button"><%= link_to "Buy now", new_user_registration_url, {class: "button"} %></li>
    </ul>
  </div>
  <div class="large-4 columns">
    <ul class="pricing-table">
      <li class="title">Enterprise</li>
      <li class="price">$19.99</li>
      <li class="description">An awesome description</li>
      <li class="bullet-item">1 Database</li>
      <li class="bullet-item">5GB Storage</li>
      <li class="bullet-item">20 Users</li>
      <li class="cta-button"><%= link_to "Buy now", new_user_registration_url, {class: "button"} %></li>
    </ul>
  </div>
</div>
