<div id="parallax-header">
  <ul id="scene" class="scene unselectable" data-friction-x="0.1" data-friction-y="0.1" data-scalar-x="25" data-scalar-y="15">
      <li class="layer" data-depth="0.50"><%= image_tag("layer1.png") %></li>
      <li class="layer" data-depth="0.25"><%= image_tag("layer2.png") %></li>
      <li><p>Secure, share your data is easier than before.</p></li>
  </ul>

</div>

<div class="features">
  <div class="row">
    <h1>Why you'll love cubbyhole</h1><br><br><br>
  </div>
  <div class="row spec">
    <div class="large-2 columns banner-image">
        <%= image_tag("locked-icon.png", alt: "locked") %>
    </div>
    <div class="large-10 columns banner-info">
      <h2>Secure</h2>
      <p>
        Our best security engineers work every second to keep your data away from a malicious eye. NSA will never know.<br>
      </p>
    </div>
  </div>
  <div class="row spec">
    <div class="large-2 columns banner-image">
        <%= image_tag("contact-icon.png", alt: "contact") %>
    </div>
    <div class="large-10 columns banner-info">
      <h2>Share</h2>
      <p>
        Share your data with your friends and family via a secure link. They do not even need to be registered.<br>
      </p>
    </div>
  </div>
  <div class="row spec">
    <div class="large-2 columns banner-image">
        <%= image_tag("cloud-icon.png", alt: "cloud") %>
    </div>
    <div class="large-10 columns banner-info">
      <h2>Never lose your files again</h2>
      <p>
        Cubbyhole is a cloud hosted file storage. Let us handle the pain of tracking your files. Quality of service is our priority, you will never lose a file.<br>
      </p>
    </div>
  </div>
  <div class="row spec">
    <div class="large-2 columns banner-image">
        <%= image_tag("browser-icon.png", alt: "browser") %>
    </div>
    <div class="large-10 columns banner-info">
      <h2>Everywhere at any moment</h2>
      <p>
        Access to your data all around the world. Cubbyhole provides you a mobile app, web client or desktop software.<br>
      </p>
      <%= link_to "Download for Windows", new_user_registration_url, class: "button radius large" %>
      <p><em>Desktop client is available on Win32 and Unix System</em></p>
    </div>
  </div>
</div>

<div class="row">
  <hr></hr>
  <h1>Prices</h1>

  <ul class="small-block-grid-4 features">
    <% @plans.each do |plan| %>
    <li>
      <ul class="pricing-table">
          <li class="title"><%= plan.name.capitalize %></li>
          <li class="price">$ <%= plan.price.to_i %></li>
          <li class="bullet-item">
            Storage space <br><br>
            <strong>
              <% if plan.max_storage_space != 0 %>
                <%= plan.max_storage_space / 1000 %> Go
              <% else %>
                Unlimited
              <% end %>
            </strong>
          </li>
          <li class="bullet-item">
            Upload speed <br><br>
            <strong>
              <% if plan.max_bandwidth_up != 0 %>
                <% if plan.max_bandwidth_up >= 1000 %>
                  <%= plan.max_bandwidth_up / 1000 %> Mo/s
                <% else %>
                  <%= plan.max_bandwidth_up %> Ko/s
                <% end %>
              <% else %>
                Unlimited
              <% end %>
            </strong>
          </li>
          <li class="bullet-item">
            Download speed <br><br>
            <strong>
              <% if plan.max_bandwidth_down != 0 %>
                <% if plan.max_bandwidth_down >= 1000 %>
                  <%= plan.max_bandwidth_down / 1000 %> Mo/s
                <% else %>
                  <%= plan.max_bandwidth_down %> Ko/s
                <% end %>
              <% else %>
                Unlimited
              <% end %>
            </strong>
          </li>
          <li class="bullet-item">
            Shared links per day <br><br>
            <strong>
              <% if plan.daily_shared_links_quota != 0 %>
                <% if plan.daily_shared_links_quota >= 1000 %>
                  <%= plan.daily_shared_links_quota %>
                <% else %>
                  <%= plan.daily_shared_links_quota %>
                <% end %>
              <% else %>
                Unlimited
              <% end %>
            </strong>
          </li>
          <% if plan.name == 'free' %>
            <li class="cta-button"><%= link_to "Go for free", new_user_registration_url, class: "button radius" %></li>
          <% else %>
            <li class="cta-button"><%= link_to "Buy now", new_user_registration_url, class: "button radius" %></li>
          <% end %>
      </ul>
    </li>
    <% end %>
  </ul>
</div>

<%= content_for :js do %>
  <script>$('#scene').parallax();</script>
<% end %>
