<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link href='http://fonts.googleapis.com/css?family=Asap' rel='stylesheet' type='text/css'>
<title><%= content_for?(:title) ? yield(:title) : "Cubbyhole" %></title>

<%= stylesheet_link_tag    "application" %>
<%= javascript_include_tag "vendor/modernizr" %>
<%= csrf_meta_tags %>
</head>

<body>
<nav class="top-bar" data-topbar>
  <ul class="title-area">
    <li class="name">
    <h1><%= link_to "Cubbyhole", root_url %></h1>
    </li>
    <li class="toggle-topbar menu-icon"><a href="#">Menu</a></li>
  </ul>

  <section class="top-bar-section">
    <ul class="right">
      <li><%= link_to "Sign up", new_user_registration_url, class: "button radius" %></li>
      <li class="last"><%= link_to "Sign in", new_user_session_url, class: "button radius" %></li>
    </ul>
  </section>
</nav>

<%= display_flash_messages(notice: :standard) %>

<div class="row">
  <div class="small-6 large-centered columns"><%= yield %></div>
</div>

<%= javascript_include_tag "application" %>
</body>
</html>
